# Use ATM_Payments_Distribution Notebook Template

In [10]:
from fosforio import snowflake

In [18]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
snowflake.get_connection()

# To get snowflake connection object with a specific connection name
#snowflake.get_connection(connection_name="FDC_Banking_FS_Snowflake")

User name picked from OS env: manishh.singh@fosfor.com
Fetching connections created by manishh.singh@fosfor.com user
Connection names fetched ['FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_Insurance_Snowflake', 'FDC_Banking_FS_Snowflake', 'FDC_Banking_FS_Snowflake'], created by manishh.singh@fosfor.com
Exception occurred in getting snowflake connection: 'connectionSources'

# ATM Meta data

In [12]:
# To read a specific dataset published from a snowflake connection
df_atm = snowflake.get_dataframe("ATM_METADATA")

Connection details fetched: {'errorCode': 'CNM-404', 'message': 'Asset not found', 'detailMessage': 'Datasource not found by name ATM_METADATA', 'timeStamp': '2024-05-28 10:27:37.608', 'api': '/v1/external/getConnConfig/{dataSourceName}/{userId}/{projectId}'}
Ex: 'params'
Exception occurred in reading data_frame from snowflake connection: Exception occurred in creating snowflake connection: Datasource not found by name ATM_METADATA

In [13]:
df_atm.shape

AttributeError: 'NoneType' object has no attribute 'shape'

In [7]:
df_atm.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [ ]:
df_atm.describe()

In [ ]:
df_atm.head()

In [ ]:
df_atm.isnull().sum()

In [ ]:
cols = ['ATM_ID','STATE']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_atm[col].nunique())

# BANKS Meta data

In [ ]:
# To read a specific dataset published from a snowflake connection
df_bank = snowflake.get_dataframe("ATM_BANK_METADATA")

In [ ]:
df_bank.shape

In [ ]:
df_bank.info()

In [ ]:
df_bank.describe()

In [ ]:
df_bank.head()

In [ ]:
df_bank.isnull().sum()

In [ ]:
cols = ['BANK_NAME']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_bank[col].nunique())

In [ ]:
# DATE Metadata

In [ ]:
# To read a specific dataset published from a snowflake connection
df_date = snowflake.get_dataframe("ATM_DATE_METADATA")

In [ ]:
df_date.shape

In [ ]:
df_date.info()

In [ ]:
df_date.describe()

In [ ]:
df_date.head()

In [ ]:
df_date.isnull().sum()

In [ ]:
cols = ['DATE','WEEKDAY','HOLIDAY']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_date[col].nunique())

# TRANSACTION METADATA

In [ ]:
# To read a specific dataset published from a snowflake connection
df_trans = snowflake.get_dataframe("ATM_TRANSACTION_METADATA")

In [ ]:
df_trans.shape

In [ ]:
df_trans.info()

In [ ]:
df_trans.describe()

In [ ]:
df_trans.head()

In [ ]:
df_trans.isnull().sum()

In [ ]:
cols = ['ATMID','DATE','DISPENSE','DT','COUNTTOTALTXN']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_trans[col].nunique())